@page "/ambulatorio"

<center>
    <h2 style="margin-block: 2rem">Manual Ambulatorio</h2>
        <iframe src="/Archivos/ManualAyudaAmbulatorio.pdf" 
                class="pdf"/>
 </center>



@code {

}
