@page "/DerechosYObligaciones";

<BSContainer>
    <center><h2 class="titulo">Normativas Generales AMDGO</h2></center>

    <h4>Derechos del Asociado</h4>

       <ul style="list-style-type: none; margin-left: -1.3rem">
            <li>ARTÍCULO 10 del Estatuto: Los asociados, además de los expuestos según la categoría que revistan tendrán los siguientes derechos:</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Concurrir a las Asambleas con voz y voto;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Presentar oralmente o por escrito a la Comisión Directiva todas las iniciativas que consideren necesarias para el desenvolvimiento profesional;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Proponer con cinco días de anterioridad a la publicación del orden del día de las Asambleas Ordinarias la inclusión en el mismo de los asuntos que considera de interés;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Denunciar por escrito a la Comisión Directiva los casos de su conocimiento que configuren ejercicio ilegal e irregular de la medicina;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Otorgar mandatos de cobranza y representación a la Asociación para que ésta gestione y liquide sus honorarios frente a las instituciones con las que aquella celebre contratos de prestación de servicios médicos y asistenciales;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Ser defendido a petición en todos aquellos casos en que sus intereses profesionales y/o gremiales fueran lesionados. Esta defensa la podrá ejercer la Asociación directamente, o por intermedio de sus mandatarios;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Gozar en general de los beneficios que le proporcione la Asociación;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Realizar denuncias al Tribunal de Ética;</li>
       </ul>


    <h4>Obligaciones del Asociado</h4>

        <ul style="list-style-type: none; margin-left: -1.3rem">
            <li>ARTÍCULO 11 del Estatuto: Son obligaciones de los asociados las que se enuncian a continuación:</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Conocer, respetar y cumplir este Estatuto, reglamentos y resoluciones de Asamblea o Comisión Directiva que se pudieran dictar en su consecuencia;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Colaborar en las comisiones y cargos que le fueron encomendados;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> Prestar servicios a todas las Obras Sociales con las que la Asociación celebre contratos de prestación, siendo el incumplimiento de esta obligación causal de sanción, salvo que el mismo obedezca a motivos justificados por la Asamblea de socios;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Comparecer ante la Comisión Directiva cada vez que fuera requerido por los mismos, salvo casos de imposibilidad debidamente justificados;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Aceptar las retenciones que efectúe la Asociación sobre las liquidaciones de honorarios y/o otros haberes para solventar los gastos administrativos generados por tal tarea y/o aquellos que demande la mantención del Patrimonio de la Asociación;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen" /> Abonar puntualmente las cuotas sociales;</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> La falta de pago de tres mensualidades consecutivas determinará el cese de los beneficios que otorga esta Asociación a sus afiliados y previa intimación fehaciente por parte de la Comisión Directiva, el asociado cesará en su calidad de tal, si no se pone al día con lo adeudado dentro del plazo que se le otorgue, todo lo cual se le comunicará por escrito;</li>
            <li<i class="fa-solid fa-circle-check" style="color: forestgreen"/> Aceptar las sanciones que pueda imponer la Comisión Directiva, las que pueden ser advertencia o amonestación, suspensión de derechos de socio temporal, exclusión o expulsión definitiva. Para la aplicación de cualquier medida, la Comisión Directiva iniciará un sumario con el objeto de investigar los hechos por denuncias de oficio, si lo cree conveniente, de esta imputación dará traslado al acusado para la defensa y prueba por 10 días, luego se celebrará una audiencia en reunión de Comisión Directiva para producir la prueba y para que las partes aleguen sobre su mérito. La Comisión Directiva deberá dictaminar dentro de los 10 días siguientes, pudiendo ampliar ese término por un período igual, en el dictamen se pronunciará sobre la calificación de la falta y la sanción que corresponda, podrá ser causa de sanción la violación de este Estatuto como asociado y de cualquier otro compromiso asumido por el socio con la Asociación. Las sanciones referidas serán apelables por el afectado ante la Asamblea.-</li>
        </ul>

    <h4>Compromisos del Asociado</h4>
       <ul style="list-style-type: none; margin-left: -1.3rem">
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> Atender sin discriminación a los Afiliados de todas las entidades con convenio con la Asociación Médica, respetando los aranceles convenidos.</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> Tener domicilio permanente dentro del Departamento General Obligado, o en las localidades de Romang y Alejandra del Dpto. San Javier. - Respetar las normas de trabajo y disposiciones del Colegio Médico de Santa Fe 1ª Circ., la Federación Médica de la Provincia, COMRA o la Superintendencia de Servicios de Salud, para las prestaciones de los servicios médico-asistenciales.</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> Aceptar el control del trabajo médico de las prestaciones por la Auditoría Médica de la AMDGO, sus tareas de recopilación de datos, evaluación y estadísticas.</li>
            <li><i class="fa-solid fa-circle-check" style="color: forestgreen"/> Admisión de las retenciones legales y de la Asociación Médica, sobre los honorarios médicos. - Autorizar a la Asociación Médica para la investigación y sanción de presuntas irregularidades que afecten a la institución o interfieran en el funcionamiento de contratos que ésta firme con terceros, para los que con la presente se otorga representación. - Respetar el Estatuto y las normas que se dicten.</li>
            <li>LA COMISION DIRECTIVA</li>
       </ul>

</BSContainer>
@code {

}
