@page "/historia"

<h1 class="titulo">NUESTRA HISTORIA</h1>

<BSContainer >
    <h2 class="subtitulo">Desde 1946 "POR Y PARA LOS MÉDICOS" <i class="fa-solid fa-stethoscope"></i></h2>

    <p class="parrafo">El 10 de septiembre de 1946, se reúnen en el HOSPITAL DE CARIDAD DE RECONQUISTA, en calle Hipolito Irigoyen Nº 1580, 
        los Dres. Mariano Molaguero, Augusto Ittig, Manuel Gil, Efrain Armas, Santiago Margulis, 
        Francisco Ingaramo, Nicolas Fascella, Jose Cisera y Orlando Zamora para constituir una entidad 
        de carácter gremial y científica, la ASOCIACIÓN GREMIAL MEDICA DE RECONQUISTA, sobre las bases 
        de la ex Sociedad Medica del Norte Santafesino, abarcando Profesionales de esta ciudad y de Avellaneda, 
        siendo el primer Secretario General el Dr. Augusto Ittig y Secretario de Actas el Dr. José Mateo Cisera. 
        En noviembre del mismo año, se constituyo el Estatuto de la Asociación Gremial.</p>

    <BSImage src="/Imagenes/historia1.png" style="float:right"/>

    <p class="parrafo">
        Cinco años mas tarde comenzaron a agregarse nuevos Asociados, incorporando localidades vecinas.
        En la década del 60´ es de destacar la actitud de renunciamiento de los asociados, 
        que dejan de atender contratos directos con esas mutualidades, y se comprometen a que todos 
        atiendan a todas, solo contratando a través de la Asociación. 
        Esto genera la necesidad de dar soluciones administrativas, por el cúmulo de facturas, 
        cobranzas y distribución de los honorarios médicos, por lo que se contrata al Contador José Jaime Vidal, 
        que trabajaba en la administración del Sanatorio Reconquista; así en el domicilio de este sanatorio, 
        funciona provisoriamente la administración, facturando a todas las Obras Sociales y compañías de seguros, 
        para todos los médicos asociados y Sanatorios propiedad de esos médicos, radicados en Reconquista, Avellaneda, 
        Lanteri, Villa Ocampo, Las Toscas y Romang, con sus zonas de influencia en el Departamento
        General Obligado y San Javier de la Prov. De Santa Fe. Hasta principios de los años 70, la Asociación, 
        funcionaba desde su origen, sin Personería Jurídica, pero ante las obligaciones que asumía y el 
        crecimiento de la misma, en el 1975 se obtiene la Personería Jurídica bajo el Nº 495/75, como Asociación sin fines 
        de lucro, con fines gremiales, científicos, socio-comunitarios y de ayuda entre sus miembros, pudiendo aceptar 
        mandatos de Establecimientos Asistenciales Adheridos, propiedad de los Asociados, para facilitar el ejercicio 
        de su profesión médica.</p>

    <BSImage src="/Imagenes/historia2.png" style="float:left" Margin="BlazorStrap.Margins.Large"/>

    <p class="parrafo">
        A partir de allí y para llevar adelante las distintas obligaciones y responsabilidades.
        Sobre fin de la década del 70, la necesidad de fijar un domicilio propio se impone, 
        por la creciente adhesión de profesionales de diversas localidades, vinculados a distintos 
        Establecimientos Asistenciales y la incorporación de Clínicas del norte, que crecían a la 
        par de los médicos nucleados en el Sanatorio Reconquista, por estos motivos, en el año 1978, 
        si bien no se contaba con dinero suficiente para adquirir un inmueble, si podía con el aporte de los Asociados, 
        abonar una cuota, así adquieren un terreno, (en el pozo y a riesgo), frente al Sanatorio Reconquista, 
        en calle 9 de Julio, 3 departamentos y la planta baja donde terceros construirían el Edificio Reconquista I. 
        Una vez finalizado el Edificio Reconquista I, los Asociados ven que los inmuebles adquiridos no eran funcionales, 
        por tal motivo se venden los 3 departamentos de los pisos superiores y con ese dinero en el año 1982 compran 
        una casa para instalar las oficinas y un terreno de 3,24 Has en calle Fray Rossi, frente a la Sociedad Rural, 
        con la intención de hacer un campo social y deportivo para los Asociados. Esto último no prosperó debido 
        al esfuerzo económico que significaba y el bajo interés de los Médicos. En octubre de 1982 se adquiere una 
        casa que era propiedad de la Sociedad Rural Reconquista, donde funciona actualmente la Asociación Médica, 
        en calle Iriondo 980, de la ciudad de Reconquista, a la que se le introducen mejoras necesarias para hacerla 
        funcional en cuanto a dependencias administrativas.</p>

    <p class="parrafo">
        En el año 1986 se derrumba un garaje donde se realizaban las reuniones y se amplía la parte norte,
        donde se construye el amplio salón auditorio, archivo, baños y cocina, inaugurando la ampliación, 
        con frente al oeste, en el año 1989. La Caja de Profesionales del Arte de Curar y el Colegio de Médicos 
        de la 1ra. Circunscripción observan el positivo avance de la Asociación y el aporte que la misma hace 
        para los profesionales, por lo que la Caja en el año 1983, suscribe un convenio de Agencia y 
        el Colegio también aprovecha la infraestructura, para atender trámites de los profesionales y 
        evitarles así, su traslado hasta la Ciudad de Santa Fe. A comienzo de los años 90, por una recomendación formal, 
        se cambia el nombre por ASOCIACIÓN MÉDICA DEL DEPARTAMENTO GENERAL OBLIGADO, quitando el término “Gremial”, 
        pero manteniendo su espíritu, ya que no se modifica su Estatuto ni la placa de bronce del frente, ni la 
        costumbre de propios y terceros de llamarla “La Gremial”. Merece mencionarse el fuerte espíritu de cuerpo de 
        los Asociados que durante 40 años funcionaron sin tener una sede social, realizando sus reuniones de Comisión Directiva, 
        Asambleas y eventos científicos en lugares prestados, como el Tenis Club, Hospital de la Caridad, 
        Sanatorio Reconquista, Sirio Libanes y otros. El objeto de ayuda solidaria de su Estatuto se canalizó 
        con la creación de un Fondo para cubrir Subsidios por fallecimiento de Asociados y dejar el beneficio a las personas 
        que el Profesional designe y el Reglamento de Incapacidad Transitoria, abonando al asociado una suma 
        mensual cuando no pudiera trabajar por enfermedad; pero como se trataba de fines mutuales, 
        la Inspección de Personas Jurídicas de la Provincia lo observa, porque excedía las funciones estatutarias, 
        lo que hace que se cree para ello la Mutual Gremial Medica, en el año 1992, formada por todos los 
        Asociados Titulares de la Asociación Médica, eligiéndose como Presidente de ésta al Secretario General de 
        la Asociación Médica, en ese año, el Dr. Jorge Contepomi, acompañado en el Consejo Directivo por los mismos 
        miembros que dirigían la Asociación Médica, actitud que se sigue manteniendo en la actualidad. El potencial de 
        la nueva institución, Mutual Gremial Medica, es advertido por sus dirigentes, y ante la necesidad de cubrir 
        servicios médicos prepagos y solidarios para los propios Asociados y su extensión a la comunidad, deciden 
        sancionar el Reglamento de Ayuda Medica Solidaria – FESALUD que presta servicios medico-asistenciales en todo 
        el país, a través de la Red Argentina de Salud. Otra necesidad que se observó es brindar beneficios 
        complementarios de los seguros de automotores, para ello se creó el Reglamento de Subsidios para atender 
        daños de automotores, para Asociados activos y adherentes. El último beneficio incorporado es el Reglamento de 
        Ayuda Económica, que permite con fondos propios de la Mutual, otorgar préstamos personales y así financiar 
        necesidades de crédito doméstico a los Asociados activos y adherentes. En el año 2012 la Asociación Médica 
        entrega el terreno de 3,24 has que tenía frente a la Sociedad Rural de Reconquista, a la Mutual Gremial Medica, 
        la que programó la realización de un Proyecto Rural, para destinar los fondos recaudados al Reglamento de Ayuda 
        Económica u otros beneficios para los Asociados. En la actualidad la Asociación Médica del Departamento General
        Obligado cuenta con 109 contratos con obras sociales, mutuales, cajas, prepagas, A.R.T. y Seguros en general; 
        265 Medicos Asociados del Departamento Gral. Obligado y las localidades de Alejandra y Romang del Dpto. 
        San Javier y representación de todos los Sanatorios, Clínicas, el Hospital Central y los Samcos de la zona; 
        56 Auxiliares de la Medicina en actividad y 18 personal dependiente. </p>

</BSContainer>

@code {

}
