@page "/" 

<!-- carrusel -->
<BSCarousel HasControls="true" HasIndicators="true" IsDark="true">

    <BSCarouselItem Interval="10000" >
        <BSImage src="/imagenes/carrusel1.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-carrusel" width="800" height="400" >
            <rect width="100%" height="100%" fill="#777">  </rect>
        </BSImage>
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Al Servicio de los Asociados </h5>
        </BSCarouselCaption>
    </BSCarouselItem >


    <BSCarouselItem Interval="10000">
        <BSImage src="/imagenes/carrusel2.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-carrusel" width="800" height="400" object-fit="cover">
            <rect width="100%" height="100%" fill="#777">  </rect>
        </BSImage>
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Desde 1946</h5>
        </BSCarouselCaption>
    </BSCarouselItem>


    <BSCarouselItem Interval="10000">
        <BSImage src="/imagenes/carrusel3.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-carrusel" width="800" height="400" object-fit="cover">
            <rect width="100%" height="100%" fill="#777">  </rect>
        </BSImage>
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Por y para los médicos</h5>
        </BSCarouselCaption>
    </BSCarouselItem>

</BSCarousel>
<!-- carrusel -->
<br/>
<!-- info -->
<BSContainer Container="Container.Fluid" MarginTop="BlazorStrap.Margins.Large" Class="row datos" style="width: 90%; margin: 0 auto">
    <BSContainer Class="datos__container col-md-6" style="padding-right: 2rem">
        
        <h2 class="datos__container-titulo">Asociación Médica Departamento General Obligado</h2>
        <p class="datos__container-parrafo">Asociación Civil Sin Fines de Lucro</p>
        <p class="datos__container-parrafo">Personería Jurídica - Resolución 495 (01-09-1975)</p>
        <p class="datos__container-parrafo">CUIT 30-56750676-9 (Exento)</p>
        <p class="datos__container-parrafo">Iriondo 980 - S3560 RECONQUISTA (Santa Fe)</p>
        <p class="datos__container-parrafo">(03482) 429427 - 427151 - 428344</p>
        <p class="datos__container-parrafo"> <a href="mailto: gabriela.escobar@asociacion-medica.com.ar" style="text-decoration: none">gabriela.escobar@asociacion-medica.com.ar</a> (Secretaria)</p>

    </BSContainer>

    <BSContainer Class="col-md-3" >
        <BSImage src="/Imagenes/logo-amdgo.png" width="100%"/>
    </BSContainer>

</BSContainer>
 
<!-- info -->
<br />
<br />
