@page "/internacion"

<center>
    <h2 style="margin-block: 2rem">Manual Internación</h2>
        <iframe src="/Archivos/ManualAyudaInternacion.pdf" 
                class="pdf"/>
 </center>

@code {

}
