/* /Pages/Beneficios.razor.rz.scp.css */

.titulo[b-bjv0smz8mm] {
    margin-block: 1.2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
}
/* /Pages/Historia.razor.rz.scp.css */

.titulo[b-sg6yysrktq] {
    margin-block: 1.3rem;
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.subtitulo[b-sg6yysrktq] {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
    color: #606060;
}

.parrafo[b-sg6yysrktq] {
    font-family: Raleway, sans-serif;
}
/* /Pages/Index.razor.rz.scp.css */

.datos__container-titulo[b-d8fwr9yr5x] {
    margin-bottom: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.datos__container-parrafo[b-d8fwr9yr5x] {
    margin-bottom: 0.5rem;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #34495E;
}

/* /Pages/Login.razor.rz.scp.css */


*[b-pf8enwxae5] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body[b-pf8enwxae5] {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container[b-pf8enwxae5] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen[b-pf8enwxae5] {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content[b-pf8enwxae5] {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background[b-pf8enwxae5] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape[b-pf8enwxae5] {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1[b-pf8enwxae5] {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2[b-pf8enwxae5] {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3[b-pf8enwxae5] {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4[b-pf8enwxae5] {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login[b-pf8enwxae5] {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field[b-pf8enwxae5] {
    padding: 20px 0px;
    position: relative;
}

.login__icon[b-pf8enwxae5] {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input[b-pf8enwxae5] {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

    .login__input:active[b-pf8enwxae5],
    .login__input:focus[b-pf8enwxae5],
    .login__input:hover[b-pf8enwxae5] {
        outline: none;
        border-bottom-color: #6A679E;
    }

.login__submit[b-pf8enwxae5] {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

    .login__submit:active[b-pf8enwxae5],
    .login__submit:focus[b-pf8enwxae5],
    .login__submit:hover[b-pf8enwxae5] {
        border-color: #6A679E;
        outline: none;
    }

.button__icon[b-pf8enwxae5] {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login[b-pf8enwxae5] {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons[b-pf8enwxae5] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon[b-pf8enwxae5] {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

    .social-login__icon:hover[b-pf8enwxae5] {
        transform: scale(1.5);
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-3gmapxlwwh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3gmapxlwwh] {
    flex: 1;
}

.sidebar[b-3gmapxlwwh] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3gmapxlwwh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3gmapxlwwh]  a, .top-row[b-3gmapxlwwh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-3gmapxlwwh]  a:hover, .top-row[b-3gmapxlwwh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-3gmapxlwwh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3gmapxlwwh] {
        display: none;
    }

    .top-row.auth[b-3gmapxlwwh] {
        justify-content: space-between;
    }

    .top-row[b-3gmapxlwwh]  a, .top-row[b-3gmapxlwwh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3gmapxlwwh] {
        flex-direction: row;
    }

    .sidebar[b-3gmapxlwwh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3gmapxlwwh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-3gmapxlwwh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-3gmapxlwwh], article[b-3gmapxlwwh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rcnl4uon66] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rcnl4uon66] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rcnl4uon66] {
    font-size: 1.1rem;
}

.oi[b-rcnl4uon66] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rcnl4uon66] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rcnl4uon66] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rcnl4uon66] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rcnl4uon66]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rcnl4uon66]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rcnl4uon66]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rcnl4uon66] {
        display: none;
    }

    .collapse[b-rcnl4uon66] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-rcnl4uon66] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
